body {
	background: #Fefefe;
	color: #190E4F
}

.mainHeader {
	color: #080357;
}


.diaryHeader, .sectionHeader {
	color: #080357;
}

.weekSection {
	color: #B33C86;
}

.daySection {
	color: #EA638c;
}

.link {
	color: #F49D37;
	font-size: 13px;
}