.aboutMe__header{
	color: #080357;
	padding-left: 10px;
}

.aboutMe__link{
	color: #454ADE;
	font-size: 13px;
}

body{
	background: #Fefefe;
	color: #190E4F;
	width: 100%;
	max-width: 700px;
	margin: 32px auto ;
}

.diary__day{
	margin-bottom: 50px;
}

.diary__day--header{
	color: #EA638c;
	padding-left: 10px;
}

.diary__day--link{
	color: #454ADE;
	font-size: 13px;
}

.diary__header {
	color: #080357;
	padding-left: 10px;
}

.diary__week--header {
	color: #B33C86;
	margin-top: 30px;
	padding-left: 10px;
}

.diary__week--link{
	color: #454ADE;
	font-size: 13px;
}

.hobby__list{
	list-style: none;
	padding: 0;
}

.header {
	color: #080357;
	padding-top: 40px;
}

.main-header{
	background: #Fefefe;
	box-sizing: border-box;
	left: 0;
	padding: 8px;
	position: fixed;
	top: 0;
	width: 100%;
}

.navigation__item{
	display: inline;
	margin-right: 8px;
}
.navigation__link {
	color: #454ADE;
	font-size: 13px;
}

.navigation__list{
	margin: 0px 8px;
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: center;
}
