body {
	background: #Fefefe;
	color: #190E4F
}

.mainHeader {
	color: #080357;
}


.diaryHeader, .sectionHeader {
	color: #080357;
}

.weekSection {
	color: #B33C86;
}

.daySection {
	color: #EA638c;
}

.link {
	color: #454ADE;
	font-size: 13px;
}

.aboutMe{
	width: 100%;
	max-width: 700px;
	min-width: 200px;
}