body{
    background: #fefefe;
    color: #190e4f;
}

.subpageHeader {
color: #B33C86;
}

.link {
	color: #454ADE;
	font-size: 13px;
}

.subpageArticleTitle{
    color: #EA638C;
}

.subpageArticleText{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


.subpageFooter, .subpageArticleFooter{
    color: #080357;
        font-size: 15px;
    font-style: italic;
}